html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

h1,
h2,
p {
    margin: 0;
    font-size: 40px;
}

body {
    min-width: 320px;
    margin: 0;
    color: #fff;
}

a {
    color: inherit;
}

.header {
    padding: 10px 0;
    background-color: #000;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(114, 126, 113)
}

.section__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
}

.section__button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 8px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    font-size: 50px;
}

.section__button:hover {
    background-color: #fff;
    color: #000;
}

.section__button:focus-visible {
    outline-color: yellow;
}

.modal {
    position: fixed;
    inset: 0;
    border-color: rgba(0, 0, 5, 0.5);
    display: flex;
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    display: none;
}

.modal__btn {
    font-size: 40px;
}

.modal__close {
    font-size: 40px;
    width: 50px;
}

.modal__main {
    position: relative;
    min-width: 600px;
    background-color: azure;
    margin: auto;
    color: black;
    border-radius: 16px;
    padding: 30px;
    cursor: default;
}

.modal__titel {
    margin-bottom: 30px;
}

.modal.close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 20px;
    right: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;

}